<mat-drawer-container >
  <mat-drawer class="drawer" mode="side" #drawer opened >
    <mat-nav-list>

      <a mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>

      <a mat-menu-item routerLink="/grid-setting">
        <mat-icon>perm_data_setting</mat-icon>
        <span>Grid Settings</span>
      </a>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content style=" height: 100vh;">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
        <mat-icon>code</mat-icon>
      </button>
      <span></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item >
          <mat-icon>power_settings_new</mat-icon>
          <span>Log Out</span>
        </button>
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item >
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

